body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: greenyellow;
}
table {
    width: 100%;
    border-collapse: collapse;
}

table,tr,th {
    border: 1px solid black;
    border-radius: 10px;
    
}