.firstSection{
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 0;
    background-color: rgb(240, 248, 255);
    gap: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgb(129, 248, 129);
    

}

img{
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: contain;

}
.div{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    gap:20px;
    padding: 20px;
    border-radius: 20px;
    font-size: large;

}

.secondSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: aquamarine;
    margin-left: 20px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(62, 66, 66);
}

.thirdSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    border: 7px solid round blue;
    box-shadow: 0px 0px 10px blue;
    margin: 20px;

}
#diary{
    border: 2px solid gray;
    margin:10px;
    border-radius: 10px dotted yellow;
    padding: 5px;

}

.forthSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    box-shadow: 0px 0px 10px black;
    border-radius: 3px dotted oran;

}
